@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
  --primary: #FF9770;
  --secondary: #FFD670;
  --tertiary: #70D6FF;
  --white: #F7F7F7;
  --black: #000000;
  --body-bg: #CDCBCD;
}

* {
  transition: background-color 0.5s, color 0.5s;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background: var(--body-bg);
  font-family: 'Nunito';
  font-size: 3vh;
  color: var(--black);
}

.section {
  position: absolute;
  border-radius: 2vh
}

#tabs {
  left: 0%;
  height: 10vh;
  width: 100vw;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

#tabs input {
  font-family: 'Nunito';
  margin-right: 1%;
  margin-left: 1%;
  border: none;
  outline: none;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  background-color: var(--tertiary);
  color: var(--black);
  border-radius: 1.5vh;
  transition: background-color 0.2s !important;
  font-weight: bold;
  font-size: 2.5vh;
}

#tabs input:hover {
  background-color: var(--secondary);
}

.tab {
  text-align: center;
}

.tab button {
  font-family: 'Nunito';
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1.5%;
  border: none;
  outline: none;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: var(--tertiary);
  color: var(--black);
  border-radius: 1vh;
  transition: background-color 0.2s !important;
  width: 47%;
  font-size: 2.5vh;
}

.tab button.pinButton {
  width: 20%;
}

.tab button:hover {
  background-color: var(--secondary);
}

.tab button.active {
  background-color: var(--primary);
}

#opentab {
  top: 13%;
  left: 0.8%;
  height: 82%;
  width: 26%;
  min-width: 210px;
  background-color: var(--secondary);
  padding: 1%;
}

#textarea {
  position: absolute;
  top: 13%;
  left: 29.5%;
  height: 81.5%;
  max-height: 81.5%;
  width: 40%;
  min-width: 250px;
  padding: 1%;
  border: none;
  outline: none;
  background-color: rgb(0,0,0,0);
  z-index: 2;
  overflow-y: scroll;
}

.faintTextarea {
  position: absolute;
  top: 13%;
  left: 29.5%;
  height: 81.5%;
  width: 40%;
  padding: 1%;
  border: none;
  outline: none;
  background-color:var(--white);
  border-radius: 2vh;
  color: #ababab;
  z-index: 1;
  overflow-y: scroll;
}

#quickselect {
  top: 13%;
  left: 72.2%;
  height: 82%;
  width: 25%;
  min-width: 240px;
  background-color: var(--secondary);
  padding: 1%;
  text-align: center;
}

@media only screen and (max-width: 940px) {
  #quickselect {
    display: none !important;
  }
  
  #opentab {
    width: 40%;
  }
  
  #textarea {
    left: 45%;
    width: unset;
    right: 0.8%;
  }

  .faintTextarea {
    left: 45%;
    width: unset;
    right: 0.8%;
  }

  .pinButton {
    display: none !important;    
  }
}

#quickselect button {
  font-family: 'Nunito';
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1.5%;
  border: none;
  outline: none;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: var(--tertiary);
  color: var(--black);
  border-radius: 1vh;
  transition: background-color 0.2s !important;
  width: 47%;
  font-size: 2.5vh;
}

#quickselect button.pinButton {
  width: 20%;
}

#quickselect button:hover {
  background-color: var(--secondary);
}

#quickselect button.active {
  background-color: var(--primary);
}

.empty {
  display: none;
}

.logo {
  position: relative;
  height: 7vh;
  width: 14vh;
  transform: scale(0.8);
}

.logoWrapper i {
  position: relative;
  top: -50%;
  left: -5px;
}

.logoWrapper {
  position: absolute;
  height: 7vh;
  width: 14vh;
  left: 10px;
  top: 6px;
  background:var(--white);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 3;
  transition: 500ms !important;
  overflow: clip;
}

.logoWrapper.full {
  width: calc(100vw - 20px);
  height: calc(100vh - 36px);
}

:not(#textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#loadingWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  text-align: center;
  z-index: 5;
  opacity: 1;
  display: block;
  transition: opacity 500ms !important;
  cursor: progress;
}

#loading {
  height: 50vh;
}

#aboutMenu {
  position: absolute;
  top: 8%;
  left: 3%;
  width: 90%;
  height: calc(100vh - 22%);
  padding: 2%;
  background-color: var(--tertiary);
  color: var(--black);
  border-radius: 15px;
  opacity: 1;
  transition: opacity 500ms, left 500ms, top 500ms !important;
  overflow-y: auto;
  pointer-events: none;
}

#aboutMenu p {
  width: 100%;
  height: 100%;
}

.logoWrapper:not(.full) > #aboutMenu {
  opacity: 0;
  top: -50%;
  left: -50%;
}

.clickable,button,input {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 100px;
}
